<!DOCTYPE html>
<html>
<head>
  <title>Terminal de Autoservicio</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link th:href="@{/css/bootstrap.min(2).css}" rel="stylesheet" />
  <link th:href="@{/jquery/3.2.1/jquery.min.js}" rel="stylesheet" />
  <link th:href="@{/bootstrap/3.3.7/js/bootstrap.min.js}" rel="stylesheet" />
</head>

<style>.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }
  
.form-s {
  max-width: 420px;
  padding: 10px 18px 10px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }
  
.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #669ae1, #669ae1 12.5%, #62c2e4 12.5%, #62c2e4 25%, #669ae1 25%, #669ae1 37.5%, #62c2e4 37.5%, #62c2e4 50%, #669ae1 50%, #669ae1 62.5%, #62c2e4 62.5%, #62c2e4 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #669ae1, #669ae1 12.5%, #62c2e4 12.5%, #62c2e4 25%, #669ae1 25%, #669ae1 37.5%, #62c2e4 37.5%, #62c2e4 50%, #669ae1 50%, #669ae1 62.5%, #62c2e4 62.5%, #62c2e4 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #669ae1, #669ae1 12.5%, #62c2e4 12.5%, #62c2e4 25%, #669ae1 25%, #669ae1 37.5%, #62c2e4 37.5%, #62c2e4 50%, #669ae1 50%, #669ae1 62.5%, #62c2e4 62.5%, #62c2e4 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #669ae1, #669ae1 12.5%, #62c2e4 12.5%, #62c2e4 25%, #669ae1 25%, #669ae1 37.5%, #62c2e4 37.5%, #62c2e4 50%, #669ae1 50%, #669ae1 62.5%, #62c2e4 62.5%, #62c2e4 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}</style>

<body>
	 <nav class="navbar navbar-default">
	   <div class="container">
	     <div class="wrapper">	     
	     	<form th:action= "@{/home}" class="form-signin">
	     	 <h3 class="form-signin-heading">TERMINAL DE AUTOSERVICIO ACME</h3>
	     	 <hr class="colorgraph"/>
	     	   <button class="btn btn-lg btn-primary btn-block" > HOME</button>
	     	</form>
		</div>
	</div>
	</nav>
	<div class="container">
		<h1>Listado de Cuentas</h1>
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<thead>
					<th>Id</th>
					<th>Nro. Cuenta</th>
					<th>Tipo</th>
					<th>Moneda</th>
					<th>Saldo</th>
				</thead>
				<tbody th:each="cuenta : ${cuenta}" > 
				<tr>
					<td th:text="${cuenta.idCuenta}"></td>
					<td th:text="${cuenta.nroCuenta}"></td>
					<td th:text="${cuenta.tipo}"></td>
					<td th:text="${cuenta.moneda}"></td>
					<td th:text="${cuenta.saldo}"></td>
					<td><a th:href="@{/rest-client/cuentas/transferencias/{idcuenta}(idcuenta=${cuenta.idCuenta})}">Transferencias</a> | <a th:href="@{/rest-client/movimientos/{id}(id=${cuenta.idCuenta})}">Movimientos</a></td>
				</tr>					
				</tbody>
			</table>
		</div>			
	</div>

</body>
</html>